html, body {
  font-family: "Roboto";
  font-weight: 300;
  color: white;
  width: 100%;
  height: 100%;
  cursor: default; }

#content-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: 100% 200%;
  background-position: 0 0; }
  #content-wrapper.transition {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out; }

#menu-button {
  position: absolute;
  padding: 15px;
  top: 0;
  right: -80px;
  background-color: transparent; }

#menu {
  height: 100%;
  width: 400px;
  z-index: 100;
  background-color: white;
  position: absolute;
  top: 0;
  left: -400px;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s; }
  #menu.menu-active {
    left: 0;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.3); }

#forecast-wrapper {
  width: 500px;
  margin: 50px auto 0 auto;
  text-transform: lowercase; }
  #forecast-wrapper .forecast-list li {
    display: none; }
    #forecast-wrapper .forecast-list li.show {
      display: block !important; }
  #forecast-wrapper .time-location {
    overflow: hidden;
    line-height: 50px;
    display: block; }
    #forecast-wrapper .time-location .time {
      text-align: right;
      font-size: 35px;
      display: inline-block;
      width: 45%;
      margin-right: 5%; }
    #forecast-wrapper .time-location .location {
      display: inline-block;
      font-size: 45px;
      width: 50%; }
  #forecast-wrapper .weather-main {
    overflow: hidden; }
    #forecast-wrapper .weather-main .weather-icon {
      font-size: 150px;
      width: 45%;
      height: 225px;
      overflow: hidden;
      float: left;
      margin-right: 3%; }
    #forecast-wrapper .weather-main .temp {
      width: 52%;
      overflow: hidden;
      font-size: 170px;
      line-height: 225px;
      font-weight: 100 !important; }
  #forecast-wrapper .weather-info {
    width: 100%; }
    #forecast-wrapper .weather-info .weather-condition {
      text-align: right;
      float: left;
      font-size: 45px;
      width: 45%;
      margin-right: 5%; }
    #forecast-wrapper .weather-info .min-max {
      float: left;
      font-size: 45px;
      width: 50%; }

#markers {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px; }
  #markers li {
    margin-top: 10px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: white;
    transition: all .2;
    -webkit-transition: all .2;
    opacity: 0.3; }
    #markers li.show {
      opacity: 1; }
